{% extends 'manager/base.html' %}{% load static %}

<h1> This is Individual account's Page</h1>

{% block content %}


      <span><a href="{% url 'updateAccount' account.id %}"  style="position: absolute; right: 85px; top: 65px;" ><button  type="button" class="btn btn-warning"> Update </button> </a></span>
    
      <span><a href="{% url 'deleteAccount' account.id %}" style="position: absolute; right: 5px; top: 65px;" ><button type="button" class="btn btn-danger"> Delete </button> </a> </span>
   
<br>




<script>
    function CopyToClipboard(containerid) {
        if (document.selection) {
          var range = document.body.createTextRange();
          range.moveToElementText(document.getElementById(containerid));
          range.select().createTextRange();
          document.execCommand("copy");
        } else if (window.getSelection) {
          var range = document.createRange();
          range.selectNode(document.getElementById(containerid));
          window.getSelection().addRange(range);
          document.execCommand("copy");
          alert("Copied to your Clipboard")
        }
      }
</script>


 <div class="container square-box d-flex justify-content-center align-items-center" style="max-width:500px; min-height: 500px; border: 1px solid black; padding:10px;margin-top: 5%;">
<div class="card" style="width: 30rem;">
  <div style="text-align: center; margin-bottom: 0.5em; font-size: 4em;">{{account.name}}</div>
  <div class="card-body">
    <h5 class="card-title">Kennedy Rice Mill</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" ><span>Username: </span><span id="username">{{account.username}}</span><span style="position: absolute; right: 5px; top: 5px;"><button id="copy-username" onclick="CopyToClipboard('username')" type="button" class="btn btn-warning">Copy</button></span></li>
    <li class="list-group-item" id="password"><span>Password: </span><span id="password">{{account.password}}</span><span style="position: absolute; right: 5px; top: 5px;"><button id="copy-username" onclick="CopyToClipboard('password')" type="button" class="btn btn-warning">Copy</button></span></li>
    <li class="list-group-item"><span>last Modified: </span>{{account.last_changed}}</li>
    <li class="list-group-item"><span>Description: </span>{{account.description}}</li>
  </ul>
 </div>
</div> 



{% endblock %}