{% extends 'manager/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            FormPage
        </title>
    </head>
    
    <body>
    <h1 style="margin-left:25%"> Add-Account Form</h1>
    <div class="center-column" style="margin:5%">
        <form method="POST" action=''>
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn1" type="submit" value="Save" style="margin-top:2%;margin-left:10%">
        </form>
    </div>
    </body>
</html>

    {% endblock %}
</html>