{% extends 'manager/base.html' %} {% load static %}

{% block content %}

<p style="font-size: 2em; margin-left: 2%;"> Are you sure you want to delete?</p>
<div style="border: solid 0.2em; width: fit-content; padding: 2% 6%; margin: 1% 2% 2% 2%; font-size: larger;">{{account.name}}</div>

<form action="{% url 'deleteAccount' account.id  %}" method="POST" >
				
    {% csrf_token %}
    <a class="btn btn-warning " href="{% url 'account_info' account.id%}" style="margin-left: 2%; margin-right: 1%;">Cancel</a>

    <input class="btn btn-danger" type="submit" name="Confirm" >
</form>
{% endblock %}