
{% extends 'manager/base.html' %} {% load static %}

{% block link %}

<link rel="stylesheet" href="{% static 'css/frontpage.css' %}" />

{% endblock %}

{% block content %}


<div style="position: absolute; right: 10px; top:60px;margin-top:2%">
    <a href="{% url 'addAccount' %}" class="btn btn-primary"> Add Account </a>
</div>
<br/>

<div class="row text-center" style="position: relative;margin:8% 10%;">
  <div class="col-sm-6">
    <div class="card">
      <!-- <img class="card-img-top" src="{% static 'images/img.jpeg' %}" alt="Card image cap" style= "height: 600px"> -->
      <div class="card-body">
        <h5 class="card-title">Kennedy Rice Mill</h5>
        <p class="card-text">Contains username and password details</p>
        <a href="{% url 'kennedypage' %}" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <!-- <img class="card-img-top" src="{% static 'images/img.jpeg' %}" alt="Card image cap" style="height: 600px;"> -->
      <div class="card-body">
        <h5 class="card-title">Neighbor Cookies</h5>
        <p class="card-text">Contans username and password details</p>
        <a href="{% url 'neighborspage' %}" class="btn btn-primary">Open</a>
      </div>
    </div>
  </div>
</div>




{% endblock %}