{% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            FormPage
        </title>
    </head>
    
    <body>
    <h1 style="margin-left:22%"> Update-Account Form</h1>
    <div class="center-column" style="margin-left:5%">
        <form method="POST" action=''>
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn1" type="submit" value="Save">
        </form>
    </div>
    </body>
</html>

    {% endblock %}
</html>